.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 80px;
}

.help__title{
    font-weight: 700;
    font-size: 50px;
    color: $primaryColor;
}

.help__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.help__cards__card{
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 30px;
    align-items: center;
}

.help__cards__card:hover{
    background: rgb(206, 206, 206);
    
    border-radius: 10px;
}

.help__cards__card:hover  .help__cards__card__desc ,.help__cards__card:hover .help__cards__card__title{
    color: $secondaryColor;
    transition: 0.4s;
}

.help__cards__card__desc{
    text-align: center;
}

.help__cards__card__btn{
    width: 150px;
    height: 50px;
    border: 1.5px solid $primaryColor;
    background-color: $secondaryColor;
    color: $primaryColor;
    border-radius: 5px;
}

.help__cards__card__btn:hover{
    background-color: $primaryColor;
    color: $secondaryColor;
    transition: 0.4s;
}
@media(max-width:1150px){
    .help__cards{
        flex-wrap: wrap;
        justify-content: center;
    }
    .help__cards__card{
        width: 45%;
    }
    .help__title{
        font-size: 35px;
    }
}

@media(max-width:610px){
    .help__cards__card{
        width: 80%;
    }
    .help__title{
        font-size: 30px;
    }
}

@media(max-width:380px){
    .help__title{
        font-size: 25px;
    }
    .help__cards__card__title{
        font-size: 18px;
    }
    .help__cards__card__desc{
        font-size: 13px;
    }
    .help__cards__card__btn{
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}
